<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nouvelle campagne</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="submit()" #f="ngForm" class="form-padding">
    <ion-item>
      <ion-input label="Titre" labelPlacement="stacked" [(ngModel)]="model.title" name="title" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea label="Description" labelPlacement="stacked" [(ngModel)]="model.description" name="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-datetime-button datetime="date"></ion-datetime-button>
    </ion-item>
    <ion-modal [keepContentsMounted]="true">
      <ion-datetime id="date" presentation="date" (ionChange)="onDateChange($event)"></ion-datetime>
    </ion-modal>
    <ion-item>
      <ion-input label="Lieu" labelPlacement="stacked" [(ngModel)]="model.location" name="location"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label="Groupe sanguin" labelPlacement="stacked" [(ngModel)]="model.bloodType" name="bloodType">
        <ion-select-option value="A+">A+</ion-select-option>
        <ion-select-option value="A-">A-</ion-select-option>
        <ion-select-option value="B+">B+</ion-select-option>
        <ion-select-option value="B-">B-</ion-select-option>
        <ion-select-option value="O+">O+</ion-select-option>
        <ion-select-option value="O-">O-</ion-select-option>
        <ion-select-option value="AB+">AB+</ion-select-option>
        <ion-select-option value="AB-">AB-</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="actions">
      <ion-button type="submit" [disabled]="!f.form.valid">Créer</ion-button>
      <ion-button color="medium" fill="outline" routerLink="/home">Annuler</ion-button>
    </div>
  </form>
</ion-content>
